@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap');
@import url('https://api.fontshare.com/css?f[]=switzer@600,700&display=swap');

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/GraphikRegular.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Public Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #f4f6f9;
}
