.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
